$color-dark: #252525;
$color-light: #ddd;
$color-white: #fff;
$color-colored: #7f1fff;
$color-colored-light: #cfabff24;
$color-colored-2: #fe4648;
$color-colored-2-light: #ff4c4f38;

// Warning colors
$color-primary: #40a6ce;
$color-danger: #e54141;
$color-success: #00bf43;
$color-success-light: #00ff7e30;